body {
    background-color: black;
    color:white !important;
}
#main-page {
    display: none;
}
.var-highlight {
color: #26c961;
font-weight: bolder;
}

.string-highlight {
    color: #26c961;
    font-weight: bolder;
}

.warning {
    color: #d0883c;
}

.error
{
    color: #db2644;
}

.info
{
    color: #097bbf;
}

.typewriter {
    font-size: 1.2em;
    margin: 0;
    font-family: "Courier New";
    font-weight: bold;
    color: white;
}
.typewriter::after {
    content: url('./assets/cursor.png');
    animation: blink 500ms linear infinite alternate;
}
footer {
    background-color: #0066cc; 

}

ul {
    list-style: none;   
    padding: 0;
    margin: 0;
}
li {
    padding: 20 10 15 15;
    color: grey;
    font-size: 1.2rem;
}
li:hover {
    color: lightgray;
}
.navbar {
    background-color:rgb(29, 29, 29);
    position: fixed;
    width: 22%;
    height: 100%;
    left: 50px;
    top:0;
    bottom:0;
    padding: 0 !important;
}
.nav-list-title {
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
} 
.nav-title {
    position: absolute;
    top: 10px;
    width: 100%;   
}
.nav-dropdown {
    background-color: rgb(51,51,51);
    font-size: 1rem; 
}
.opt {
    padding: 4% 17%;
}
.opt:hover {
    background-color: rgb(51,51,51);
}
@-webkit-keyframes blink {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


#npm-install {
    margin-left: 6%;
}

footer {
    position: fixed;
    bottom: 0;
    right:0;
    left:0;
    font-size: 0.8rem;
    padding: 4px;
}

.footer-items {
    padding-right: 10px;
}

.sidebar {
    background-color:rgb(51,51,51);
    position: fixed;
    width: 50px;
    height: 100%;
    left: 0;
    top:0;
    bottom:0;
}
@media only screen and (max-width: 900px) {
    #typewriter {
        font-size: 1em;
    }
    #npm-install
    {
        margin-left: 0;
        font-size: 0.5em;
    }
}
